*.iml
.gradle
/local.properties
/app/release/
xPlayStore/
new_app_logo.png
PureCrypto2.png
*.jks
*.keystore
/.idea/
**/generated/
**/intermediates/
**/outputs/
**/tmp/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
